In [1]:
from sqlalchemy import create_engine
import tushare as ts

In [2]:
df = ts.get_hist_data('000875')
engine = create_engine('mysql://root:qucd123123@127.0.0.1/test?charset=utf8')

#存入数据库

In [10]:
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2018-08-03,2.93,2.98,2.94,2.92,100909.00,-0.01,-0.34,3.020,3.022,2.950,184732.12,190238.78,152608.74
2018-08-02,3.02,3.04,2.95,2.87,211329.23,-0.07,-2.32,3.042,3.025,2.942,213513.72,193289.97,151336.61
2018-08-01,3.12,3.12,3.02,3.02,207487.55,-0.11,-3.51,3.064,3.022,2.932,233094.82,182999.98,144649.75
2018-07-31,3.06,3.15,3.13,3.05,231877.88,0.07,2.29,3.060,3.013,2.923,217834.50,186189.92,141006.93
2018-07-30,3.05,3.10,3.06,3.03,172056.94,0.01,0.33,3.040,2.990,2.907,207613.51,168727.43,132949.61
2018-07-27,3.04,3.14,3.05,3.04,244817.00,-0.01,-0.33,3.024,2.974,2.894,195745.43,159538.33,129085.97
2018-07-26,2.99,3.10,3.06,2.98,309234.75,0.06,2.00,3.008,2.958,2.883,173066.21,156843.53,120648.61
2018-07-25,3.02,3.03,3.00,2.99,131185.94,-0.03,-0.99,2.980,2.936,2.869,132905.14,136036.76,108148.57
2018-07-24,2.97,3.04,3.03,2.97,180772.91,0.05,1.68,2.966,2.914,2.859,154545.34,130306.10,104120.48
2018-07-23,2.96,2.98,2.98,2.94,112716.56,0.01,0.34,2.940,2.895,2.848,129841.36,118759.15,99048.48
2018-07-20,2.90,2.98,2.97,2.90,131420.91,0.05,1.71,2.924,2.878,2.838,123331.22,114978.71,95939.53
2018-07-19,2.93,2.95,2.92,2.91,108429.40,-0.01,-0.34,2.908,2.858,2.828,140620.84,109383.26,93097.47
2018-07-18,2.90,3.02,2.93,2.89,239386.91,0.03,1.03,2.892,2.842,2.819,139168.38,106299.52,92480.35
2018-07-17,2.89,2.90,2.90,2.86,57253.00,0.00,0.00,2.862,2.832,2.812,106066.87,95823.94,85561.85
2018-07-16,2.87,2.90,2.90,2.85,80165.90,0.01,0.35,2.850,2.824,2.803,107676.95,97171.79,92930.38
2018-07-13,2.88,2.95,2.89,2.87,217868.98,0.05,1.76,2.832,2.814,2.807,106626.19,98633.60,94508.99
2018-07-12,2.78,2.85,2.84,2.77,101167.13,0.06,2.16,2.808,2.808,2.812,78145.67,84453.69,87723.44
2018-07-11,2.81,2.81,2.78,2.74,73879.32,-0.06,-2.11,2.792,2.801,2.820,73430.65,80260.38,86568.28
2018-07-10,2.81,2.84,2.84,2.79,65303.43,0.03,1.07,2.802,2.803,2.834,85581.01,77934.85,86392.19
2018-07-09,2.76,2.82,2.81,2.76,74912.10,0.04,1.44,2.798,2.801,2.844,86666.63,79337.81,86373.27
2018-07-06,2.76,2.79,2.77,2.71,75466.39,0.01,0.36,2.796,2.797,2.856,90641.02,76900.35,88484.26
2018-07-05,2.83,2.84,2.76,2.76,77592.00,-0.07,-2.47,2.808,2.798,2.871,90761.71,76811.68,89656.68
2018-07-04,2.82,2.88,2.83,2.79,134631.12,0.01,0.35,2.810,2.796,2.889,87090.11,78661.18,88826.08
2018-07-03,2.78,2.84,2.82,2.77,70731.56,0.02,0.71,2.804,2.791,2.905,70288.69,75299.76,85305.26
2018-07-02,2.82,2.84,2.80,2.78,94784.01,-0.03,-1.06,2.804,2.782,2.920,72008.98,88688.98,85326.79
2018-06-29,2.77,2.83,2.83,2.76,76069.88,0.06,2.17,2.798,2.799,2.935,63159.68,90384.38,85323.67
2018-06-28,2.80,2.83,2.77,2.77,59234.00,-0.03,-1.07,2.788,2.816,2.950,62861.65,90993.19,87107.46
2018-06-27,2.82,2.82,2.80,2.78,50624.00,-0.02,-0.71,2.782,2.839,2.966,70232.25,92876.18,93896.56
2018-06-26,2.74,2.83,2.82,2.71,79333.01,0.05,1.80,2.778,2.864,2.988,80310.83,94849.53,97049.86
2018-06-25,2.81,2.83,2.77,2.77,50537.50,-0.01,-0.36,2.760,2.887,3.010,105368.97,93408.73,98070.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-09-23,8.78,9.20,8.87,8.51,867887.81,-0.14,-1.55,8.840,9.100,10.389,975802.94,1049405.13,1307545.58
2015-09-22,9.09,9.24,9.01,8.85,982072.81,-0.04,-0.44,8.872,9.246,10.601,1016169.75,1115395.15,1429855.69
2015-09-21,8.52,9.14,9.05,8.38,852807.81,0.41,4.75,8.712,9.284,10.880,988616.74,1143282.49,1466460.68
2015-09-18,8.79,8.95,8.64,8.33,841373.50,0.01,0.12,8.726,9.311,11.090,1060792.78,1168429.69,1543751.21
2015-09-17,9.05,9.54,8.63,8.61,1334872.75,-0.40,-4.43,9.024,9.451,11.327,1072437.05,1198447.59,1622314.49
2015-09-16,8.23,9.03,9.03,8.01,1069721.88,0.82,9.99,9.360,9.704,11.503,1123007.33,1156444.24,1646613.30
2015-09-15,8.50,8.95,8.21,8.21,844307.75,-0.91,-9.98,9.620,10.041,11.654,1214620.55,1211693.44,1742799.38
2015-09-14,10.45,10.59,9.12,9.12,1213688.00,-1.01,-9.97,9.856,10.583,11.846,1297948.25,1302412.84,1807114.05
2015-09-11,10.19,10.45,10.13,9.93,899594.88,-0.18,-1.75,9.896,10.951,11.938,1276066.60,1269281.98,1832204.17
2015-09-10,10.36,10.75,10.31,10.15,1587724.12,-0.02,-0.19,9.878,11.265,11.938,1324458.12,1435392.22,1836126.68
2015-09-09,9.43,10.33,10.33,9.42,1527788.00,0.94,10.01,10.048,11.677,11.928,1189881.15,1565686.03,1832176.40
2015-09-08,9.33,9.78,9.39,8.40,1260946.25,0.07,0.75,10.462,11.956,12.012,1208766.33,1744316.23,1848196.84
2015-09-07,10.08,10.65,9.32,9.11,1104279.75,-0.72,-7.17,11.310,12.475,12.157,1306877.43,1789638.86,1880821.87
2015-09-02,10.05,11.40,10.04,10.04,1141552.50,-1.12,-10.04,12.006,12.868,12.324,1262497.36,1919072.73,1926500.82
2015-09-01,11.80,12.19,11.16,11.16,914839.25,-1.24,-10.00,12.652,13.202,12.467,1546326.31,2046181.38,1975560.09
2015-08-31,13.00,13.89,12.40,12.27,1622213.88,-1.23,-9.02,13.306,13.302,12.554,1941490.91,2136782.36,2046274.81
2015-08-28,11.52,13.98,13.63,11.52,1751501.75,0.83,6.48,13.450,13.267,12.565,2279866.14,2273905.32,2076564.88
2015-08-21,12.94,13.77,12.80,12.77,882379.44,-0.47,-3.54,13.640,13.109,12.483,2272400.29,2311815.27,2101569.74
2015-08-20,14.40,14.89,13.27,13.20,2560697.25,-1.16,-8.04,13.730,12.924,12.457,2575648.10,2395126.35,2203168.93
2015-08-19,12.40,14.43,14.43,12.40,2890662.25,1.31,9.98,13.752,12.610,12.383,2546036.45,2236861.14,2170666.35
2015-08-18,15.31,15.58,13.12,13.12,3314090.00,-1.46,-10.01,13.298,12.178,12.178,2332073.80,2098666.76,2098666.76
2015-08-17,13.15,14.58,14.58,12.93,1714172.50,1.33,10.04,13.084,12.073,12.073,2267944.50,1963619.74,1963619.74
2015-08-14,13.60,13.78,13.25,13.05,2398618.50,-0.13,-0.97,12.578,11.760,11.760,2351230.25,1994800.64,1994800.64
2015-08-13,12.29,13.38,13.38,12.29,2412639.00,1.22,10.03,12.118,11.547,11.547,2214604.60,1937112.37,1937112.37
2015-08-12,11.70,12.38,12.16,11.67,1820849.00,0.11,0.91,11.468,11.242,11.242,1927685.82,1857857.94,1857857.94
2015-08-11,12.60,12.60,12.05,11.88,2993443.50,0.00,0.00,11.058,11.058,11.058,1865259.72,1865259.72,1865259.72
2015-08-10,11.30,12.05,12.05,11.25,2130601.25,1.10,10.05,10.810,10.810,10.810,1583213.78,1583213.78,1583213.78
2015-08-07,10.28,10.99,10.95,10.28,1715490.25,0.82,8.10,10.397,10.397,10.397,1400751.29,1400751.29,1400751.29
2015-08-06,9.70,10.40,10.13,9.59,978045.12,0.02,0.20,10.120,10.120,10.120,1243381.81,1243381.81,1243381.81
2015-08-05,10.20,10.66,10.11,9.82,1508718.50,0.08,0.80,10.110,10.110,10.110,1508718.50,1508718.50,1508718.50

In [12]:
df.to_sql('tick_data',engine   ,if_exists='append')

In [3]:
s2 = ts.get_growth_data(2018,1)

[Getting data:]###########################################################

In [11]:
s2 = s2.assign(year=2018 ,season=1 )

In [13]:
s2.head()

,code,name,mbrg,nprg,nav,targ,epsg,seg,year,season
0,603399,吉翔股份,77.9235,82016.2612,17.4709,24.0790,2500.0000,15.5965,2018,1
1,600083,博信股份,3111.4297,51381.4112,1.4368,68.8194,-1395.0000,28.7323,2018,1
2,002305,南国置业,-21.5072,35252.0618,0.5987,7.2037,93.1034,-0.5445,2018,1
3,600256,广汇能源,196.0477,18651.0888,13.6413,5.4311,1650.0000,8.3149,2018,1
4,600784,鲁银投资,-7.7323,10246.3998,-12.0373,-15.8046,6900.0000,-6.0635,2018,1

In [15]:
s2.to_sql('growth_data',engine   ,if_exists='append')

In [16]:
s2 = ts.get_growth_data(2018,2)

[Getting data:]########

In [17]:
s2.head()

,code,name,mbrg,nprg,nav,targ,epsg,seg
0,300308,中际旭创,3902.9088,7884.9375,679.6306,1203.5490,3250.0000,679.6306
1,600569,安阳钢铁,36.8022,3808.5876,39.9018,4.2917,3441.6667,53.5337
2,000537,广宇发展,589.8318,3528.4675,236.5053,257.2666,1700.0000,383.3205
3,000922,*ST佳电,38.4011,2640.1473,18.4783,5.1293,3000.0000,18.4783
4,000877,天山股份,14.4082,2375.9114,22.2143,-7.2355,912.7586,24.4935

In [18]:
s2 = s2.assign(year=2018 ,season=2)

In [19]:
s2.to_sql('growth_data',engine   ,if_exists='append')

In [20]:
y=2017
s=1
s2 = ts.get_growth_data(y,s)
s2 = s2.assign(year=y ,season=s)
s2.to_sql('growth_data',engine   ,if_exists='append')

[Getting data:]#######################################################

In [21]:
y=2017
s=2
s2 = ts.get_growth_data(y,s)
s2 = s2.assign(year=y ,season=s)
s2.to_sql('growth_data',engine   ,if_exists='append')

[Getting data:]#########################################################

In [22]:
y=2017
s=3
s2 = ts.get_growth_data(y,s)
s2 = s2.assign(year=y ,season=s)
s2.to_sql('growth_data',engine   ,if_exists='append')

[Getting data:]##########################################################

In [23]:
y=2017
s=4
s2 = ts.get_growth_data(y,s)
s2 = s2.assign(year=y ,season=s)
s2.to_sql('growth_data',engine   ,if_exists='append')

[Getting data:]###########################################################

In [28]:
for i in range(1,5):
    print(i)
    y=2016
    s=i
    s2 = ts.get_growth_data(y,s)
    s2 = s2.assign(year=y ,season=s)
    s2.to_sql('growth_data',engine   ,if_exists='append')
    
    print('\n')

1
[Getting data:]#################################################

2
[Getting data:]###################################################

3
[Getting data:]####################################################

4
[Getting data:]###########################################################

In [29]:
for i in range(1,5):
    print(i)
    y=2017
    s=i
    s2 = ts.get_growth_data(y,s)
    s2 = s2.assign(year=y ,season=s)
    s2.to_sql('growth_data',engine   ,if_exists='append')
    
    print('\n')

1
[Getting data:]#######################################################

2
[Getting data:]#########################################################

3
[Getting data:]##########################################################

4
[Getting data:]###########################################################

In [30]:
for i in range(1,5):
    print(i)
    y=2015
    s=i
    s2 = ts.get_growth_data(y,s)
    s2 = s2.assign(year=y ,season=s)
    s2.to_sql('growth_data',engine   ,if_exists='append')
    
    print('\n')

1
[Getting data:]##############################################

2
[Getting data:]###############################################

3
[Getting data:]###############################################

4
[Getting data:]###########################################################